<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Acerca de mí">
    <link rel="stylesheet" href="../../public/css/style.css">
    
    <title>Document</title>
</head>
<body>
    <header>
        
        <nav>
            <a href="/">Inicio</a>
            <a href="/home">Articulos</a>
            <a href="/about">About</a>
        </nav>
    </header>
    abaout me
</body>
</html>